/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "com.alkiteb.furqan.view.components.*";
@namespace local "*";
@namespace itemrenderer "com.alkiteb.furqan.uicontrol.itemrenderer.*";

s|WindowedApplication
{
    /* make app window transparent */
    skinClass               : ClassReference("com.alkiteb.furqan.skins.FurqanSkin");
    fontFamily              : "Uthman Taha Naksh";
    fontSize                : 13;
    chromeColor             : #A9BE7E;
    color                   : black;
    layoutDirection         : rtl; 
    direction               : rtl;
}


global
{
    contentBackgroundColor  : #A8CA75;
    alternatingItemColor    : #859663;
    rollOverColor           : #E0FCA7;
    selectionColor          : #C7FC5B;
    symbolColor             : #313E17;
    focusColor              : #A9BE62;
    accentColor             : #333E26;
    focusedTextSelectionColor   :#84A73C;
}


/** Font Info **/
@font-face 
{
    src                     : url("/../resources/themes/standard/fonts/UthmanTN1 Ver09.otf");
    fontFamily              : "Uthman Taha Naksh";
    fontWeight              : normal;
}

/** Font Info **/
@font-face 
{
    src                     : url("/../resources/themes/standard/fonts/UthmanTN1B Ver09.otf");
    font-family             : "Uthman Taha Naksh";
    fontWeight              : bold;
}

local|Furqan #headerView
{
    top                     : 0;
    left                    : 0;
    right                   : 0;
}

local|Furqan #navigationView
{
    top                     : 32;
    left                    : 40;
    right                   : 40;
    fontSize                : 18;
}

local|Furqan #quranView
{
    bottom                  : 10;
    horizontalCenter        : 0;
}

components|QuranDisplayView #quranContent
{
    fontFamily              : "UthmanicHafs";
    fontSize                : 28;
    textAlign               : justify;
    color                   : #333333;
	lineHeight				: 45;
	lineBreak				: toFit;
}

components|QuranDisplayView #bamalahLabel
{
	fontFamily              : "UthmanicHafs";
	fontSize                : 28;
	textAlign               : center;
	color                   : #333333;
}

components|NavigationView #suwarNamesList
{
	skinClass				: ClassReference("com.alkiteb.furqan.skins.SuraSelectorSkin");
	fontSize                : 18;
}

itemrenderer|SuraSelectorItemRenderer
{
    fontSize                : 18;
}

mx|ToolTip
{
    backgroundColor: #A8CA75;
    fontSize: 15;
}

.suraInfo
{
    fontSize                : 18;
}

.suraName
{
    fontSize                : 30;
}